/* Space out the table a bit */
table#recycle-bin-table {
    margin: 1.5em 0;
}

/* Add padding to, change font size, and align the table cells. */
table#recycle-bin-table > thead > tr > th,
table#recycle-bin-table > tbody > tr > td {
    padding: 1em;
    font-size: 1.125em;
    vertical-align: center;
}

table#recycle-bin-table img {
    width: 20%;
}

/* Make the icons look larger. */
table#recycle-bin-table > tbody > tr > .c2,
table#recycle-bin-table > tbody > tr > .c3 {
    text-align: center;
    vertical-align: middle;
}
table#recycle-bin-table .iconsmall {
    height: 60% !important;
    width: 60% !important;
}

/* Make the link look like a button. */
.recycle-bin-button {
    margin: 0.4em;
    border-radius: 0.25em;
    padding: 0.4em;
    color: #FFF !important;
    background-color: #536895;
    font-size: 1.1em;
}
